<div class="privacy-consent" data-component="privacy-consent">
  <input
    class="privacy-consent__checkbox"
    id="privacyAccepted"
    name="privacyAccepted"
    type="checkbox"
    disabled
    aria-describedby="signupMessage"
  />
  <label class="privacy-consent__label" for="privacyAccepted">
    I accept the
    <a
      class="privacy-consent__link"
      id="privacyPolicyLink"
      href="?page=privacy-policy"
      data-page="privacy-policy"
    >
      Privacy policy
    </a>
  </label>
</div>
