<aside class="summary-sidebar" aria-label="Main navigation">
  <a
    class="summary-sidebar__logo"
    href="./summary.html"
    data-page="summary"
    aria-label="Go to summary"
  >
    <img src="./components/assets/img/icons/Join logo vector.svg" alt="" />
  </a>

  <nav class="summary-nav">
    <a class="summary-nav__item" href="./summary.html" data-page="summary">
      <span class="summary-nav__icon" aria-hidden="true">
        <img src="./components/assets/img/icons/summary_icons.svg" alt="" />
      </span>
      <span>Summary</span>
    </a>
    <a class="summary-nav__item" href="./addTask.html" data-page="add-task">
      <span class="summary-nav__icon" aria-hidden="true">
        <img src="./components/assets/img/icons/add_task_icons.svg" alt="" />
      </span>
      <span>Add Task</span>
    </a>
    <a class="summary-nav__item" href="./board.html" data-page="board">
      <span class="summary-nav__icon" aria-hidden="true">
        <img src="./components/assets/img/icons/board_icons.svg" alt="" />
      </span>
      <span>Board</span>
    </a>
    <a class="summary-nav__item" href="./contacts.html" data-page="contacts">
      <span class="summary-nav__icon" aria-hidden="true">
        <img src="./components/assets/img/icons/contacts_icons.svg" alt="" />
      </span>
      <span>Contacts</span>
    </a>
  </nav>

  <footer class="summary-sidebar__footer">
    <a href="./privacyPolicy.html" data-page="privacy-policy">Privacy Policy</a>
    <a href="./legalNotice.html" data-page="legal-notice">Legal notice</a>
  </footer>
</aside>
